Source: python-vxfld
Maintainer: Sameer Ladiwala <sameer@cumulusnetworks.com>
Section: net
Priority: optional
Build-Depends:
 debhelper (>= 7),
 python-all (>= 2.6.6-3),
 python-protobuf (>= 2.4.1),
 python-setuptools,
 python-sphinx (>= 1.0.7+dfsg)
Standards-Version: 3.9.1
X-Python-Version: >= 2.7

Package: python-vxfld
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ${sphinxdoc:Depends}
Description: VXLAN Flooding Service
